output_prefix:
    "GLDS-XXX"

is_euk:
    False

genomes_dir:
    "../genomes"

threads:
    20

pplacer_threads:
    8


#######################################################
################# REFERENCE DATABASES #################
#######################################################
# The workflow will check the location pointed to above for the below databases, and install them
# if they are not already there. It looks for the below "TRIGGER" filenames (they 
# all end with "*_DB_SETUP") in the directory for each database, which it creates when
# it sets them up initially. If we want to point to DBs that already exist on our setup,
# we need to add these (empty) files to their respective directories. The
# workflow just checks the file is there to know it doesn't need to setup the DB.

# these should be full paths to the directories that will hold the databases

### gtdb-tk ###
# should change
GTDB_DATA_PATH:
    "/path/to/GTDB-tk-ref-db"

# likely shouldn't change
GTDB_TRIGGER_FILE:
    "GTDBTK_DB_SETUP"


### CAT ###
# should change
DIR_HOLDING_CAT_DIR:
    "/path/to/dir/holding/CAT-db"

# likely shouldn't change
CAT_DIR:
    "CAT_prepare_20210107"
CAT_DB:
    "2021-01-07_CAT_database"
CAT_TAX:
    "2021-01-07_taxonomy"
CAT_DL_FILE:
    "CAT_prepare_20210107.tar.gz"
CAT_DL_LINK:
    "https://tbb.bio.uu.nl/bastiaan/CAT_prepare/CAT_prepare_20210107.tar.gz"
CAT_COMPRESSED_NR_FAA:
    "2021-01-07.nr.gz"
CAT_TRIGGER_FILE:
    "CAT_DB_SETUP"


### eukcc ###
# should change
DIR_HOLDING_eukcc_DIR:
    "/path/to/dir/holding/eukcc-db"

# likely shouldn't change
eukcc_db_dir:
    "eukcc2_db_ver_1.1"
eukcc_DL_FILE:
    "eukcc2_db_ver_1.1.tar.gz"
eukcc_DL_LINK:
    "http://ftp.ebi.ac.uk/pub/databases/metagenomics/eukcc/eukcc2_db_ver_1.1.tar.gz"
eukcc_TRIGGER_FILE:
    "eukcc_DB_SETUP"
